<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지 - 전체 회원 조회</title>
    <link rel="stylesheet" href="admin.css">
</head>

<body>
    <div id="container">
        <div id="top">
            <span id="logo-admin">ADMIN PAGE</span>
        </div>
        <div id="bottom">
            <div id="left">
                <div class="admin-menu" id="members">
                    <p class="admin-menu-title">MEMBERS</p>
                    <p>전체 회원 조회</p>
                </div>
                <div class="admin-menu" id="topics">
                    <p class="admin-menu-title">TOPICS</p>
                    <p>전체 게시판 조회</p>
                    <p>일반 토픽별 조회</p>
                    <p>직무별 조회</p>
                </div>
                <div class="admin-menu" id="reports">
                    <p class="admin-menu-title">REPORTS</p>
                    <p>게시글별 접수내역</p>
                    <p>회원별 접수내역</p>
                    <p>댓글별 접수내역</p>
                </div>
            </div>
            <div id="right">
                <h1>전체 회원 조회</h1>
                <table class="admin-board">
                    <thead>
                        <tr>
                            <th>회원 번호</th>
                            <th>닉네임</th>
                            <th>이메일</th>
                            <th>상세 보기</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>손흥민</td>
                            <td>hmson@naver.com</td>
                            <td><button>상세보기</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>김연경</td>
                            <td>ykkim@naver.com</td>
                            <td><button>상세보기</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>황희찬</td>
                            <td>hcw@naver.com</td>
                            <td><button>상세보기</button></td>
                        </tr>
                    </tbody>
                </table>
                <ul class="admin-board-page">
                    <li>이전</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>다음</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>